.card[b-la6a60nalk] {
    border: 1px solid #0d6efd;
}

.card-header[b-la6a60nalk] {
    background-color: #0d6efd;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

label[b-la6a60nalk] {
    font-weight: bold;
    text-align: right;
    float: right;
}
