@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 text-center w-100 d-block pt-2">
            <h3>Order Management System</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
